@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

@source '../node_modules/fumadocs-ui/dist/**/*.js';
@source '../node_modules/fumadocs-openapi/dist/**/*.js';

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  button,
  [role="button"] {
    cursor: pointer;
  }

  :root {
    --primary-color: rgb(50, 70, 158);
    --secondary-color: RebeccaPurple;

    --color-fd-primary: var(--primary-color);
    --knowledge-base-color: var(--primary-color);
    --api-reference-color: var(--secondary-color);
  }

  :root.dark {
    --knowledge-base-color: white;
    --api-reference-color: white;
  }
}
